.account-profile-page {
  background-color: #210af3;
  color: #f1f1f1;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 10px;
}

.account-profile-page h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #A3FFD6;
}

.account-profile-page .profile-container {
  display: flex;
  gap: 20px;
}

.account-profile-page .options {
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.account-profile-page .options ul {
  list-style-type: none;
  padding: 0;
}

.account-profile-page .options li {
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.account-profile-page .options li:hover {
  background-color: #e0e0e0;
}

.account-profile-page .active-li {
  font-weight: bold;
  background-color: transparent;
  color: #1C1678;
}

.account-profile-page .signout-button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-profile-page .signout-button:hover {
  background-color: #004494;
}

.account-profile-page .card {
  flex: 3;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.account-profile-page .options li svg {
  margin-right: 10px;
  color: #1C1678;
}
